/* General Styles */ 
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
    background-color: #a184e6; /* Light gray background */
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* Navbar */
.navbar {
    background-image: linear-gradient(to right, #a02a4e, #290863);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0% 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.logo {
    width: 8vh;
    height: 8vh;
    font-size: 1.5rem;
    font-weight: bold;

}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
     font-size:1.1rem;
}

#homebutton {
    float: left;
}

.nav-links a:hover {
    color: #FBBF24; /* Darker yellow */
}

/* Hero Section with Animations */
.hero {
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10%;
    color: white;
}

.hero-content h2 {
    font-size: 250%;
    font-weight: bold;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Upgraded Buttons */
.cta-button {
    display: inline-block;
    background-color: #ebe00b; /* Yellow */
    color: black;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #FBBF24; /* Darker yellow */
    transform: scale(1.05);
}

/* Sections */
.section {
    height: 30%;
    text-align: center;
    padding: 4rem 2rem;
    background-color: #a184e6;
    animation: slideUp 1.5s ease-in-out;
}
@keyframes slideUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}



.section p {
    margin-top: 10px;
    color: #eff2f5; /* Gray */
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

#title{
    font-size: 300%;
}

/* Footer */
.footer {
    background-color: #3a3263;
    color: white;
    text-align: center;
    padding: 1rem;
    /*position: relative;*/
    bottom: 0;
    width: 100%;
 
 }

 .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
main {
    flex: 1;
    padding-top: 10vh; /* Offset for fixed navbar */

}

#nothomesection {
    animation: fadeIn 1.5s ease-in-out;
    padding: 0rem 0rem;
}


#leftpart {
    text-align: left;
    margin-left: 20%;
    float:left;
    position: relative;
}

#leftpart p {
    text-align: left;
    margin-left: 3%;
}
.leftpartimage {
    width: 20%;
    height: 50%;
    float: right;
    position: absolute;
    right: 26%;
    top: 30%;
    border-radius: 10% 10% 10%;
    border: 0.5vh solid rgb(179, 47, 7)
}

#rightpart {
    text-align: right;
    margin-right: 20%;
    float:right;
    position: relative;
}

#rightpart p {
    text-align: right;
    margin-right: 3%;
}
.rightpartimage {
    width: 20%;
    height: 50%;
    float: left;
    position: absolute;
    left: 26%;
    top: 30%;
    border-radius: 10% 10% 10% 10%;
    border: 0.5vh solid rgb(179, 47, 7)
}

#solimage {
    width: 10%;
    height: 60%;
    right:40%;
}

#jamieimage {
    width: 10%;
    height: 70%;
    left: 35%;
    top: 27%;
}

#owenimage{
    width: 10%;
    height: 60%;
    right: 35%;
    top: 20%;
}

#willisaacimage {
    width: 10%;
    height: 60%;
    left: 35%;
}

#leftpar {
    text-align: left;
    float:left;
    position: relative;
    width:100%;
    height:100%
}

#leftpar p {
    text-align:left;
    font-size:140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 45%;
    margin-right:50%;
    margin-left:0%;
}
.leftparimage {
    width: 40%;
    height: 80%;
    float:right;
    position: absolute;
    right: 10%;
    top: 18%;
    
}

#rightpar {
    text-align: right;
    float:right;
    position: relative;
    width:100%;
    height:100%;
}

#rightpar p {
    text-align: right;
    margin-right:0%;
    font-size:140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 45%;
    margin-left:50%;
}
.rightparimage {
    width: 40%;
    height: 80%;
    float: left;
    position: absolute;
    left: 26%;
    top: 30%;
}


.writing {
    text-align: center;
    background-color: #f5f4f7;
    animation: slideUp 1.5s ease-in-out;
    margin: 0;
    padding: 2%;
}

.writing p {
    /*margin-top: 10px;*/
    color: #519de9; 
    margin-left: 10%;
    margin-right: 10%;
    font-size:large;
}













* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev {
    left:0;
    border-radius: 3px 0 0 3px;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#w1{
    background-image: url("https://wallpapers.com/images/hd/badminton-background-89nho63eiusp9yyc.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
} 

#w2 {
    background-image: url("images/badminton-grass.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

#w3{
    background-image: url("https://wallpapers.com/images/hd/badminton-background-89nho63eiusp9yyc.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}


hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(to left, #a02a4e, #290863)
  }

